body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Titulo{
    text-align: center;
    
}

.ReglasEncriptador{
    margin: 1em 1em;
    display: inline-block;
    
}

.Lista{
    margin: 1em 1em;
    display: inline;
}

.Caja{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.Boton{
    
    border-radius: 10px;
    cursor: pointer;
    transition:  .5s;
}

.Output{
    display: inline-block;
}

.Boton:hover{
    transform: scale(1.2);
}

.Boton:active{

    background: rgb(47, 206, 255);
}