body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #f3f5fc;
}

.Logo{
    position: relative;
    width: Fixed (120px);
    height: Fixed (48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}
.Titulo{
    text-align: center;
    position: relative;
    padding: auto;
    color: #0a3871;
}

.SubTitulo{
    display: block;
    color: #0a3871;
}

#ReglasEncriptador{
    display: none;
    margin: 0 auto;
}

.ListaReglas{
    width: 100%;
    display: block;
    
}

.Caja{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.Boton{
    background-color: #0a3871;
    color: white;
    padding: 1em;
    border-radius: 1em;
}

.Boton:hover{
    text-decoration: underline;
    transition: 400ms;
    transform: scale(1.1);
    cursor: pointer;
    
}


#Des{
    
    background-color: #D8DFE8;
    color: black;

}

#CajaTexto{
    text-align: left;
    bottom: 20.2em; 
}

#resultado{
    border-radius: 8px;    
    background-image: url(Imagenes/Muneco.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 24px 32px -8px #00000014;
}

/* Media Queries for responsiveness */
@media only screen and (min-width: 600px) {
    .ListaReglas {
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }

    .Caja {
        width: 30em;
        height: 30em;
    }

    #encriptador {
        right: 26.5em;
    }

    #Des {
        right: 20.5em;
    }

    #Copy {
        left: 58em;
    }

    #CajaTexto,
    #mensaje {
        width: calc(50% - 10px);
    }

    #mensaje {
        margin-right: 10px; 
    }
}

@media only screen and (max-width: 600px) {
    .ListaReglas,
    .Caja,
    #encriptador,
    #Des,
    #Copy,
    #CajaTexto,
    #mensaje {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;
    }
}
